html,
body,
#root {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: white;
  background: radial-gradient(
    #e5e7eb 1px,
    transparent 1px
  ); /* radial gradient */
  background-size: 16px 16px; /* equivalent to [background-size:16px_16px] */
}
